<html>
    <head>
        <title>My First Social Network</title>
    </head>
    <body>
        <header>
            <h1><font color="green">My First Social Network</font></h1>
        </header>
        <div>
            {% if user.is_authenticated %}
                <p> {{ user }} ({{ user.first_name }} {{ user.last_name }}) </p>
                <a href="{% url 'logout' %}"> Logout </a>
                <p>################</p>
                {% block content %}
                {% endblock content %}

            {% else %}
            
                <p><font color="red"> You do not have access... </font></p>
                <p> Plese, log in! </p>
                {% block anon_content %}
                {% endblock anon_content %}

            {% endif %}
        </div>
    </body>
</html> 